.layout {
  height: 100vh;
}

.logo {
  height: 64;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64;
  line-height: 64px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content {
  margin: 20px;
}
